<div class="articles-cards">
	{% for article in articles %}
		<div class="article-card">
			<div class="article-img" style='background-image: url("https://teillier.needemand.com/realisations/Projet_Nesti/Nesti-Project-PHP/public/images/articles/{{article.getImage().name_image~"."~article.getImage().extension_image }}");'></a>
		</div>
		<div class="article-card-body">
			<h5 class="article-card-title">{{article.quantity_unite_article~" "~article.getMeasureUnit().name_measure_unit~" de "~article.getProduct().name_product}}</h5>
			<div class="article-info">
				<div class="article-info-element">
					<div class="price-info">
						<p>{{article.getPrice().price_article}}</p>
						<i class="fas fa-euro-sign" aria-hidden="true"></i>
					</div>
					<div class="stock-info">
						<p class="stock" data-stock ="{{article.getStock()}}">{{article.getStock()}}</p>
						<i class="fas fa-box"></i>
					</div>
				</div>
			</div>

			<a href="{{ base_url('/article/'~article.id_article) }}">
				<button class="article-btn-see">Voir l'article</button>
			</a>
		</div>
	</div>
{% endfor %}</div>

{% block script %}
	<script>

	allStocks = document.querySelectorAll(".stock");

	console.log(allStocks);

	allStocks.forEach(element => {
		stock = element.getAttribute('data-stock');

		if (stock <= 0) {
			card = (element.parentNode.parentNode.parentNode.parentNode.parentNode);
			card.style.backgroundColor="#400406";

			var outOfStock = document.createElement("div");
			outOfStock.className = "out-of-stock";
			outOfStock.innerHTML = "Épuisé";
			card.appendChild(outOfStock);
		}
	}

	);


	
	

	</script>

	{% endblock %}

