<div id="navbar">

	<div id="navbar-left">
		<a class="{{loc=='home' ? "active" : "" }}" href="{{base_url('/home')}}">
			<i class="fas fa-home"></i>
			ACCUEIL</a>
		<a class="{{loc=='recipes' ? "active" : "" }}" href="{{base_url('/recipes')}}">
			<i class="fas fa-cookie-bite"></i>
			RECETTES</a>
		<a class="{{loc=='suggestions' ? "active" : "" }}" href="{{base_url('/suggestions')}}">
			<i class="fas fa-heart"></i>
			SUGGESTIONS</a>
		<a class="{{loc=='market' ? "active" : "" }}" href="{{base_url('/market')}}">
			<i class="fas fa-shopping-bag"></i>
			MARCHÉ</a>
	</div>

	<div class="search">
	{{ form_open(base_url('/search'), {id :"form-search"})}}
		<input type="text" id="searchArea" name ="searchArea" placeholder="Une recette ? Un ingrédient ?">
	
			<button type="submit" id="searchButton">
				<i class="fa fa-search"></i>
			</button>
			
	</div>
	{{ form_close() }}

	<div id="navbar-right">
		<a href="{{base_url('/basket')}}">
			<i class="fas fa-shopping-cart {{loc=='basket' ? "active-icons" : "" }}"></i>
		</a>
		<a href="{{base_url('/user')}}">
			<i class="fas fa-user-circle {{loc=='user' ? "active-icons" : "" }}"></i>
		</a>
	</div>

</div>
				