{% extends "base.html.twig" %}

{% block content %}

	<div id="breadCrumb-details">
		<a href="{{ base_url('/market')}}">
			<p>Marché</p>
		</a>
		<p>
			&nbsp >
			{{article.getName()}}
		</p>
	</div>

	<div id="article-details">
		<div>
			<div id="article-card-details">

				<div id="article-img-details" style='background-image: url("https://teillier.needemand.com/realisations/Projet_Nesti/Nesti-Project-PHP/public/images/articles/{{article.getImageDir() }}'></div>

				<div id="article-content-details">

					<h2 id="article-title-details">
						{{article.getName()}}
					</h2>

					{{ form_open(base_url('/basket'),{id:"form-add-article-cart"} )}}
					<div id="article-info">

						<label for="input-quantity">Quantité</label>
						{% if article.getStock() > 0 %}
							<select id="input-quantity" class="form-control" name="quantity">
								{% for i in range(1, article.getStock()) %}
									<option>{{i}}</option>
								{% endfor %}
							</select>
						{% else %}
							<select id="input-quantity" class="form-control" name="quantity" disabled>
								<option disabled>0</option>
							</select>
						{% endif %}

						<div id="article-price">
							<p>{{article.getPrice()}}</p>
							<i class="fas fa-euro-sign" aria-hidden="true"></i>
						</div>
					</div>

					<button type="submit" id="btn-add-article">Ajouter au panier</button>
					{{ form_close() }}
						<div class="alert-bot alert-success" id="alert-article" onclick="hideAlert(this)" hidden>L'article a bien été ajouté au panier</div>
				</div>
			</div>
		</div>

		<div>
			<div id="article-recipes">
				<div id="article-recipes-title">
					Recettes liées à cet article
				</div>

				<div id="article-card-recipes-content">

					{% for recipe in recipes %}
						<div class="article-recipe-card">
							<div class="article-recipe-img" style='background-image: url("https://teillier.needemand.com/realisations/Projet_Nesti/Nesti-Project-PHP/public/images/recipes/{{recipe.getImageDir()}}'></a>
						</div>
						<div class="article-recipe-card-body">
							<h5 class="article-recipe-card-title">{{recipe.name_recipe}}</h5>
							<div class="article-recipe-info">
								<div class="article-recipe-info-element">
									<i class="far fa-clock" aria-hidden="true"></i>
									<p>{{recipe.time_recipe}}</p>
								</div>
								<div class="article-recipe-info-element">
									<i class="fa fa-utensils" aria-hidden="true"></i>
									<p>{{recipe.number_person_recipe}}</p>
								</div>
								<div class="article-recipe-info-element">
									<i class="fas fa-dumbbell" aria-hidden="true"></i>
									<p>{{recipe.difficulty_recipe}}</p>
								</div>
							</div>

							<a href="{{ base_url('/recipe/'~recipe.id_recipe) }}">
								<button class="recipe-btn-see">Voir la recette</button>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>{% endblock %}

{% block script %}
<script>



// AJAX SEND FORM ARTICLE BASKET

const csrf = document.querySelector('input[name="csrf_nesti"]');

localStorage.clear();

buttonArticle = document.querySelector("#btn-add-article");

buttonArticle.addEventListener('click', (function (e) {

	event.preventDefault();

	var id_article = {{ article.id_article }};
	var name = "{{ article.getName() }}";
	var image = "{{ article.getImageDir() }}";
	var quantity = document.querySelector("#input-quantity").value;
	var price = "{{ article.getPrice() }}";

	var objArticle = {
		"id_article": id_article,
		"name": name,
		"quantity": quantity,
		"image": image,
		"price": price
	}

	oldBasket = [];

	if (JSON.parse(localStorage.getItem("basket")) != null) {
		oldBasket = [JSON.parse(localStorage.getItem("basket"))].flat();
	}

	if (oldBasket.length == 0) {

	localStorage.setItem("basket", JSON.stringify(objArticle));

	} else {

		var idList = oldBasket.map(el => {
		return el.id_article
		});

		if (idList.indexOf(objArticle.id_article) != -1) {
				
			var finalBasket = oldBasket.map(el => {
				if (el.id_article === objArticle.id_article) {
						el.quantity = parseInt(el.quantity) + parseInt(objArticle.quantity);
				}
				return el;
			})

			localStorage.setItem("basket", JSON.stringify(finalBasket));
		} else { 
			var newBasket = oldBasket.concat(objArticle).flat()
			localStorage.setItem("basket", JSON.stringify(newBasket))
		}
	}

	alertArticle = document.querySelector("#alert-article");
	alertArticle.removeAttribute("hidden");

}))

function hideAlert(el) {
var alert = el;
alert.setAttribute("hidden", "");
};

</script>{% endblock %}
