{% extends "base.html.twig" %}

{% block content %}

	<div id="home-main-title">
		<div id="home-title">
			Recettes les plus populaires
		</div>
	</div>

	<div class="recipes-cards" id="famous-recipes">
        {% for recipe in recipes %}
            <div class="recipe-card">
                <div class="recipe-img" style='background-image: url("https://teillier.needemand.com/realisations/Projet_Nesti/Nesti-Project-PHP/public/images/recipes/{{recipe.image}}");'></a>
            </div>
            <div class="recipe-card-body">
                <div class="recipe-card-title">{{recipe.name}}</div>

                <div class="recipe-card-grade">
                    <div class="recipes-grade-stars">
                        {% set copyGrade = recipe.averageGrade %}
                        {% for i in range(1,5) %}
                            <span class="fa-stack" style="width:1em">
                                <i class="far fa-star fa-stack-1x fa-fw"></i>
                                {% if (copyGrade > 0) %}
                                    {% if (copyGrade >=1) %}
                                        <i class="fas fa-star fa-stack-1x fa-fw"></i>
                                    {% else %}
                                        <i class="fas fa-star-half fa-stack-1x fa-fw"></i>
                                    {% endif %}
                                {% endif %}
                                {% set copyGrade = (copyGrade - 1) %}
                            </span>
                        {% endfor %}
                    </div>
                    <div class = "recipes-grade-out-of" >
                        ({{ recipe.numberGrades }})
                    </div>
                </div>

                <div class="recipe-info">
                    <div class="recipe-info-element">
                        <i class="far fa-clock" aria-hidden="true"></i>
                        <p>{{recipe.time }}</p>
                    </div>
                    <div class="recipe-info-element">
                        <i class="fa fa-utensils" aria-hidden="true"></i>
                        <p>{{recipe.numberPerson}}</p>
                    </div>
                    <div class="recipe-info-element">
                        <i class="fas fa-dumbbell" aria-hidden="true"></i>
                        <p>{{recipe.difficulty}}</p>
                    </div>
                </div>
            </div>

            <a href="{{ base_url('/recipe/'~recipe.id_recipe) }}">
                <button class="recipe-btn-see">Voir la recette</button>
            </a>
        </div>
        {% endfor %}
    
    </div>

	<div id="home-history-title">
		<div id="home-history">
		
		</div>
	</div>

	<div class="recipes-cards-home" id="history-recipes">
		<div>

{% endblock %}

{% block script %}
    <script>

         var titleHistory = document.querySelector("#home-history");

		if (JSON.parse(localStorage.getItem("history")) != null) { 

            titleHistory.innerHTML = "Historique de navigation"

            historyListRecipes = [JSON.parse(localStorage.getItem("history"))].flat();

            var historyRecipes = document.querySelector("#history-recipes");

            historyListRecipes.forEach(function (recipe, index) {
                var image = "https://teillier.needemand.com/realisations/Projet_Nesti/Nesti-Project-PHP/public/images/recipes/" + recipe.image;

                cardRecipe = document.createElement("div");
                cardRecipe.className = "recipe-card";
                cardRecipe.style.marginRight = "4.5rem";


                recipeImage = document.createElement("div");
                recipeImage.className = "recipe-img";
                recipeImage.style.backgroundImage = "url(" + image + ")";

                recipeBody = document.createElement("div");
                recipeBody.className = "recipe-card-body";

                recipeTitle = document.createElement("h5");
                recipeTitle.className = "recipe-card-title";
                recipeTitle.innerHTML = recipe.name;

                recipeGrade = document.createElement("div");
                recipeGrade.className = "recipe-card-grade";

                recipesGradeStars = document.createElement("div");
                recipesGradeStars.className = "recipes-grade-stars";

                var averageGrade = recipe.averageGrade;

                for (var x = 0; x < 5; x++) {

                    var span = document.createElement("span");
                    span.className = "fa-stack";
                    span.style.width = "1.25em"

                    var i = document.createElement("i");
                    i.className = "far fa-star fa-stack-1x fa-fw";

                    span.appendChild(i);

                    if (averageGrade > 0 ) {
                        if (averageGrade >= 1 ) {

                            var i2 = document.createElement("i");
                                i2.className = "fas fa-star fa-stack-1x fa-fw";
                                span.appendChild(i2);
                        } else {
                            var i3 = document.createElement("i");
                                i3.className = "fas fa-star-half fa-stack-1x fa-fw";
                                span.appendChild(i3);
                        }

                    }

                    recipesGradeStars.appendChild(span);
                    averageGrade = ( averageGrade - 1)
                }

                recipeGradeOutOf = document.createElement("div");
                recipeGradeOutOf.className = "recipes-grade-out-of";
                recipeGradeOutOf.innerHTML = "("+recipe.numberGrade+")";

                recipeInfo = document.createElement("div");
                recipeInfo.className = "recipe-info";

                recipeTime = document.createElement("div");
                recipeTime.className = "recipe-info-element";
                recipeIconTime = document.createElement("i");
                recipeIconTime.className = "far fa-clock";
                recipeTextTime = document.createElement("p");
                recipeTextTime.innerHTML = recipe.time;

                recipePerson = document.createElement("div");
                recipePerson.className = "recipe-info-element";
                recipeIconPerson = document.createElement("i");
                recipeIconPerson.className = "fa fa-utensils";
                recipeTextPerson = document.createElement("p");
                recipeTextPerson.innerHTML = recipe.person;

                recipeDifficulty = document.createElement("div");
                recipeDifficulty.className = "recipe-info-element";
                recipeIconDifficulty = document.createElement("i");
                recipeIconDifficulty.className = "far fa-clock";
                recipeTextDifficulty = document.createElement("p");
                recipeTextDifficulty.innerHTML = recipe.difficulty;

                buttonRecipe = document.createElement("a");
                buttonRecipe.className = "recipe-btn-see";
                buttonRecipe.innerHTML = "Voir la recette";
                buttonRecipe.setAttribute("href", "{{ base_url() }}/recipe/" + recipe.id_recipe);

                recipeGrade.appendChild(recipesGradeStars);
                recipeGrade.appendChild(recipeGradeOutOf);

                recipeTime.appendChild(recipeIconTime);
                recipeTime.appendChild(recipeTextTime);

                recipePerson.appendChild(recipeIconPerson);
                recipePerson.appendChild(recipeTextPerson);

                recipeDifficulty.appendChild(recipeIconDifficulty);
                recipeDifficulty.appendChild(recipeTextDifficulty);
                
                recipeInfo.appendChild(recipeTime);
                recipeInfo.appendChild(recipePerson);
                recipeInfo.appendChild(recipeDifficulty);

                recipeBody.appendChild(recipeTitle);
                recipeBody.appendChild(recipeGrade);
                recipeBody.appendChild(recipeInfo);

                cardRecipe.appendChild(recipeImage);
                cardRecipe.appendChild(recipeBody);
                cardRecipe.appendChild(buttonRecipe);

                historyRecipes.appendChild(cardRecipe);

            });
        } else {
            	titleHistory.innerHTML = "";
        }

	</script>
	{% endblock %}
