{% extends "base.html.twig" %}

{% block content %}



<ul>
{% for tag in tags %}
{{ form_open(base_url('tag/delete')) }}
  <li>
  <a href= "{{ base_url('/tag/'~ tag.id_tag)}}">{{ tag.tag_name }}</a> 
  <input name="id_tag" value="{{tag.id_tag}}" type="hidden">
  <button type="submit" class="tag--remove" data-id="{{ tag.id_tag }}" value="{{ tag.id_tag }}">x</button>
  </li>
  {{ form_close() }} 
  {% endfor %}
</ul>



{% endblock %}