<!DOCTYPE html>
<html>
	<head>
		{{ include('/templates/head.html.twig') }}
		{{ include('/styles/app.css.twig') }}
	</head>

	<body>

		{{ include('/templates/navbar.html.twig') }}

		<main id="content"> {% block content %}{% endblock %}
			</main>


			{{ include('/templates/footer.html.twig') }}


		</body>

	</html>

	{# {% block nav %}
											<ul>
												<li><a href=" {{base_url('tags/')}}">Lire Tous</a></li>
												<li><a href=" {{base_url('tag/create/')}}">Créer</a></li>
												<li><a href=" {{base_url('tag/search/')}}">Recherche</a></li>
											</ul>
										{% endblock %} #}
